<div class="d-flex align-items-center auth px-0 backgroun-login">
    <div class="row w-100 mx-0">
        <div class="col-lg-3 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5 text-center">
                <div class="brand-logo">
                    <img src="assets/images/logo-mini.png" class="img-logo">
                </div>
                <h1 class="display-4 text-muted">Maintenance Task</h1>
                <form class="pt-3" [formGroup]="form" (ngSubmit)="OnLogin()">
                    <div class="form-group text-center">
                        <mat-form-field class="my-form-field">
                            <input matInput type="text" class="form-control form-control-lg" [formControl]="form.controls['uname']" autocomplete="off" placeholder=" Usuario">
                        </mat-form-field>
                        <br>
                        <small *ngIf="form.controls['uname'].hasError('required') && form.controls['uname'].touched" class="text-danger support-text">
                            Usuario es requerido.
                          </small>
                    </div>
                    <div class="form-group text-center">
                        <mat-form-field class="my-form-field">
                            <input matInput type="password" class="form-control form-control-lg" placeholder="Contraseña" [formControl]="form.controls['password']">
                        </mat-form-field>
                        <br>
                        <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="text-danger support-text">
                            Contraseña es requerida.
                          </small>
                    </div>
                    <div class="form-group text-center">
                        <small *ngIf="error" class="text-danger support-text">
                            {{message}}
                          </small>
                    </div>
                    <div class="mx-auto mt-2 col-sm-10">
                        <button class="btn btn-block btn-gradient-dark">Iniciar Sesión</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>